<%= render :partial => 'list' %>

<p><%= link_to "Create new account",
			:controller => 'accounts', :action => 'new' %> |
<%= link_to "Back to the dashboard",
			:controller => 'admin/dashboard', :action => 'index' %></p>