	<h1>New user</h1>
	
	<% form_tag :controller => "admin/members",
				:action => 'create', :id => @member do %>
	<!-- form -->
	<%= render :partial => 'admin/members/form' %>

	<div id="section">
		<div id="submit"><%= submit_tag "Submit" %></div>
	</div>
	<% end %>
