<div id="backNavi">
<%= link_to 'Dashboard >', :controller => 'admin/dashboard' %>
<span class="page">Events > </span>Listing of all events</div>


<%= render :partial => 'list' %>

<p><%= link_to "List a new event",
			:controller => 'events', :action => 'new' %> |
<%= link_to "Back to the dashboard",
			:controller => 'admin/dashboard', :action => 'index' %></p>