<div id="backNavi">
<%= link_to 'Dashboard >', :controller => 'admin/dashboard' %>
<span class="page">Events > </span>Listing of all events</div>


<%= render :partial => 'list' %>
<%= will_paginate @posts %>

