	<h1>New event</h1>
	
	<% form_tag :controller => "admin/events",
				:action => 'create', :id => @event do %>
	<!-- form -->
	<%= render :partial => 'admin/events/form' %>

	<div id="section">
		<div id="submit"><%= submit_tag "Submit" %></div>
	</div>
	<% end %>
