<div id="backNavi">
<%= link_to 'Dashboard >', :controller => 'admin/dashboard' %>
<span class="page">Articles > </span>Listing of all articless</div>


<%= render :partial => 'list' %>
<%= will_paginate @articles %>