	<h1>New article</h1>
	
	<% form_tag :controller => "admin/articles",
				:action => 'create', :id => @article do %>
	<!-- form -->
	<%= render :partial => 'admin/articles/form' %>

	<div id="section">
		<div id="submit"><%= submit_tag "Submit" %></div>
	</div>
	<% end %>
