<div id="stats">
	<h3>Quick stats</h3>	
	<p>
 	• There are a total of <%= @users.size %> accounts.<br />
 	• A total of <%= @artworks.size / 3 %> artworks have beed uploaded<br />
 	• <%= @articles.size %> articles published<br />
 	• <%= @events.size %> events published
	</p>
</div>
