/* @override 
	http://localhost:3000/stylesheets/global.css
	http://localhost:4000/stylesheets/global.css
*/

/* ------------------
formatting */

body {
	margin: 0;
	padding: 0 24px 24px;
	font: .8em/16px Helvetica, Arial, sans-serif;
	background-repeat: repeat-x;
}

p {
	margin-bottom: 4px;
	margin-top: 0;
}

ul {
	float: left;
	display: block;
	width: 190px;
	font-family: Helvetica, Arial, sans-serif;
}

li {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

h1, h2, h3, h4 {
	font-weight: normal;
	font-style: normal;
	margin-top: 2px;
	margin-bottom: 6px;
}

h1 {
	padding-bottom: 8px;
	padding-top: 3px;
	font-size: 164%;
	line-height: 22px;
}

h2 {
	padding-bottom: 4px;
}

h3 {
	
}

h4 {
	
}

/* ------------------
alerts */

#wrapper {
	overflow: auto;
	width: 960px;
}

/* ------------------
alerts */

#homeAlertOne {
	background-color: #eaeaea;
	text-align: center;
	font-size: 124%;
	border-style: none;
	margin-bottom: 24px;
}

#homeAlertOne a:link {
	color: #a7a7a7;
}

#homeAlertOne a:visited {
	color: #a7a7a7;
}

#homeAlertOne p {
	color: #5e5e5e;
	padding: 8px;
}

#homeAlertTwo {
	background-color: #f9fdb9;
	text-align: center;
	width: 931px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #fbf34f;
	padding: 6px;
}

#homeAlertTwo h2 {
	margin: 1px;
	font-weight: bold;
	color: #ff4d12;
}

#homeAlertTwo a:link {
}

#homeAlertTwo a:visited {
}

#homeAlertTwo p {
	color: #444;
}

/* ------------------
clock */
#clock {
	background-color: #7a7ffb;
	margin-bottom: 12px;
	width: 260px;
	padding: 4px;
}

/* ------------------
head one */

#head {
	border-bottom: 1px solid #e1e1e1;
	margin-bottom: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-transform: uppercase;
	background-repeat: repeat-x;
}

/* ------------------
quicknavi */

#quickNavi {
	margin-right: auto;
	margin-left: auto;
	border-bottom-color: #5e5e5e;
	text-align: right;
}

#quickNavi b.username {
	color: #262626;
}

#quickNavi b.login {
	color: #262626;
}

#quickNavi a:link {
	text-decoration: none;
	border-bottom-color: #5e5e5e;
	color: #262626;
}

#quickNavi a:visited {
	text-decoration: none;
	border-bottom-color: #5e5e5e;
	color: #262626;
}

/* ------------------
foot one */

#foot {
	border-top: 1px dashed #d4d4d4;
	padding-top: 12px;
	clear: both;
	overflow: auto;
	width: 960px;
	margin-bottom: 24px;
}

#foot p {
	font: 86% "Lucida Grande", Lucida, Helvetica, Arial, sans-serif;
}

#foot h1 {
	font-size: 144%;
}

#foot h2 {
	font-size: 124%;
}

#footOne a:link {
}

#footOne a:hover {
}

#footOne a:visited {
}

#footColumnOne {
	width: 150px;
	float: left;
	padding-right: 6px;
	overflow: hidden;
}

#footColumnTwo {
	width: 150px;
	float: left;
	margin-right: 12px;
	padding-right: 6px;
	overflow: hidden;
}

#footColumnThree {
	width: 150px;
	float: left;
	padding-right: 6px;
	overflow: hidden;
}

#footColumnFour {
	width: 150px;
	float: left;
	margin-right: 12px;
	padding-right: 6px;
	overflow: hidden;
}

#footColumnFive {
	width: 150px;
	float: left;
	padding-right: 6px;
	overflow: hidden;
}

#footColumnSix {
	width: 150px;
	float: left;
	padding-right: 6px;
	overflow: hidden;
}

/* ------------------
Subscribe form */

#subscriber {
	margin-bottom: 6px;
}

#subscriber label {
	font-size: 110%;
	width: 50px;
	float: left;
	font-weight: bold;
	margin-top: 4px;
}

#subscriber input {
	margin-bottom: 4px;
	margin-top: 4px;
	padding: 2px;
}

input#mb-name {
	width: 200px;
	font-family: Helvetica, Arial, sans-serif;
}

input#mb-hkkik-hkkik {
	width: 200px;
	font-family: Helvetica, Arial, sans-serif;
}

/* ------------------
quicknavi */

/* ------------------
foot information */

#developer {
	margin-bottom: 24px;
	padding-top: 12px;
	border-top: 1px dashed #d4d4d4;
}

/* ------------------
error messages */

#errorExplanation {
	border: 2px solid #ff4d12;
	background-color: #f9fdb9;
	font-family: Helvetica, Arial, sans-serif;
	padding: 4px 4px 4px 8px;
}

#errorExplanation h2 {
	text-align: left;
	color: #ff4d12;
	font: bold 100% Helvetica, Arial, sans-serif;
	margin-bottom: 2px;
}

#errorExplanation ul {
	padding-top: 6px;
	padding-bottom: 2px;
	font-family: Helvetica, Arial, sans-serif;
}

#errorExplanation ul li {
	color: #ff4d12;
	width: 400px;
	font: 95% Helvetica, Arial, sans-serif;
	padding: 6px;
}

div.fieldWithErrors input {
	border: 2px solid #ff2b00;
}

div.fieldWithErrors {
}