/* @override 
	http://localhost:3000/stylesheets/home.css
	http://localhost:4000/stylesheets/home.css
*/

/* ------------------
general styling */

.iFrame {
	border: 1px solid #e1e1e1;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin-bottom: 12px;
	height: 180px;
}

.iFrameToday {
	border: 1px solid #fbf34f;
}

#eventContainer {
	margin-bottom: 20px;
	height: 264px;
}

#noCurrentEvents {
	margin-bottom: 20px;
	padding: 8px;
	background-color: #e6f2f2;
	height: 210px;
}

#noCurrentEvents h1 {
}

.disclaimer {
	padding: 6px;
	line-height: 94%;
	font-size: 90%;
}

#disclaimer {
	background-color: #eaeaea;
	clear: both;
	text-align: center;
	padding: 8px 6px 6px;
	margin-bottom: 24px;
}

/* ------------------
middle area */

#middle {
}

#middleColumnOne {
	width: 300px;
	float: left;
	margin-right: 12px;
	margin-bottom: 24px;
	padding-right: 12px;
}

#middleColumnTwo {
	width: 300px;
	border-right-width: 1px;
	border-right-style: none;
	float: left;
	margin-right: 12px;
	margin-bottom: 24px;
	padding-right: 12px;
}

#middleColumnThree {
	width: 312px;
	padding-right: 0;
	float: left;
	margin-bottom: 24px;
}

#middle h1 {
	color: #52340b;
	font-size: 164%;
}

#middle img {
	text-transform: uppercase;
	color: #556066;
	background-repeat: no-repeat;
	font-weight: bold;
	margin-bottom: 12px;
}

/* ------------------
Member lauch pad */

#memberSpringBoard {
}

#memberSpringBoard img {
	float: left;
	padding: 4px;
	border: 1px solid #eaeaea;
	margin-bottom: 6px;
	margin-right: 4px;
	margin-left: 2px;
	background-color: #eaeaea;
}

/* ------------------
middle area */

#spotlight {
	background-color: #e6f2f2;
	margin-bottom: 24px;
	padding: 8px;
	height: 184px;
}

#spotlight h1 {
	color: #444;
	font-size: 144%;
	margin-top: 0;
}