/* @override 
	http://localhost:3000/stylesheets/home.css
	http://localhost:4000/stylesheets/home.css
*/

/* ------------------
general styling */

.iFrame {
	border: 1px solid #e1e1e1;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin-bottom: 12px;
}

.iFrameToday {
	border: 1px solid #fbf34f;
}

.disclaimer {
	padding: 6px;
	line-height: 94%;
	font-size: 90%;
}

#disclaimer {
	background-color: #eaeaea;
	clear: both;
	text-align: center;
	padding: 8px 6px 6px;
	margin-bottom: 24px;
}

/* ------------------
middle area */

#middle {
	overflow: auto;
	margin-bottom: 24px;
}

#middleColumnOne {
	width: 312px;
	float: left;
	margin-right: 12px;
}

#middleColumnTwo {
	width: 312px;
	border-right-width: 1px;
	border-right-style: none;
	float: left;
	margin-right: 12px;
}

#middleColumnThree {
	width: 312px;
	padding-right: 0;
	float: left;
}

#middle h1 {
	color: #444;
	font-size: 164%;
	font-weight: normal;
	font-style: normal;
}

#middle img {
	text-transform: uppercase;
	color: #556066;
	background-repeat: no-repeat;
	font-weight: bold;
	margin-bottom: 12px;
}

/* ------------------
Member lauch pad */

#memberSpringBoard {
}

#memberSpringBoard img {
	float: left;
	padding: 2px;
	border: 1px solid #eaeaea;
	margin-right: 4px;
	margin-bottom: 4px;
}

#homeInfo {
	clear: both;
	padding-top: 12px;
}

#homeInfo h2 {
	font-weight: bold;
}