/* @override http://localhost:3000/stylesheets/iframe.css */

body {
	margin: 0;
	font: .8em/16px Georgia, serif, Times;
}

.odd {
	background-color: #fff;
}

.even {
	background-color: #f5f5f5;
}

/* @group My Group */

#iframe_listingWrapper {
	padding: 6px;
}

#iframe_listingWrapper h1 {
	margin-top: 0;
	font-size: 124%;
	margin-bottom: 0;
	font-weight: normal;
	font-style: normal;
	color: #000;
}

#iframe_listingWrapper span.category {
	font-size: 72%;
	background-color: #f8e7f1;
	color: #cb2e82;
}

#iframe_listingWrapper p.artist {
	margin: 0;
	font-size: 96%;
	color: #919191;
}

#iframe_listingWrapper p.details {
	margin: 0;
	font-size: 96%;
	color: #919191;
}



/* @end */

/* ------------------
article listing */

/* ------------------
article listing */

#eventBoxWrapper {
}

#eventTodayBoxWrapper {
	padding: 4px;
	margin-bottom: 6px;
	margin-right: 16px;
}

#archives {
}

.eventBoxCategory {
	color: #5ca7d3;
	background-color: #e6f2f2;
	text-align: center;
	text-transform: uppercase;
	font: bold 9px Helvetica, Arial, sans-serif;
	width: 3px;
}

.eventBoxTitle {
	color: #444;
	border-style: none;
	border-color: #ff4d12;
	font-size: 108%;
	margin: 0;
}

.eventBoxArtist {
	color: #787878;
	font-size: 100%;
	margin: 0;
}

.currentEventBoxCategory {
	color: #5ca7d3;
	background-color: #e6f2f2;
	text-align: center;
	width: 120px;
	font: bold 9px Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

.currentEventBoxTitle {
	border-style: none;
	border-color: #ff4d12;
	font-size: 110%;
}

.currentEventBoxArtist {
	color: #787878;
	font-size: 100%;
}

.eventBoxSubtitle {
}

p.eventBoxDetails {
	font-size: 94%;
}

p.eventBoxLocation {
}

.eventBoxCopy {
	color: #787878;
}

.eventBoxClose {
}

.eventBoxLink {
}

.eventBoxCreated {
}


/* ------------------
article listing */

#articleBoxWrapper {
}

.articleBoxCategory {
	color: #5ca7d3;
	background-color: #e6f2f2;
	text-align: center;
	font: bold 9px Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

p.articleBoxTitle {
	display: inline-block;
	text-transform: capitalize;
	font-size: 110%;
}

p.articleBoxSubtitle {
	font-size: 100%;
	font-weight: bold;
	color: #787878;
}

p.articleBoxDate {
	color: #a7a7a7;
}

p.articleBoxCopy {
	color: #787878;
}