	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta name="description" content="Newcastle and Hunter area arts network.
The Hunter Arts Network is dedicated to the professional 
development of Hunter and Newcastle based artists">
	<meta name="keywords" content="design, art, arts, craft, ceramics, painting, events, whats on, profile, artist, mixed media, galleries, textile, paper, works, exhibitions, bazaar"/>
  <title>Hunter Arts Network | Newcastle Arts | Crafts | Art Bazaar | Artist Insurance | Artist Directory</title>
  <%= stylesheet_link_tag 'global', 'home' %>
<link rel="shortcut icon" href="/favicon.ico" />