<p>Hunter Arts Network is currently under development by <%= mail_to("hello@engineactive.com", "Engine Active") %> <br />
	All code, design and concepts copyright 2008 (c) Engine Active |
	All content copyright 2008 (c) Hunter Arts Network </p>