	<div id="memberSpringBoard">
	<% @random_thumb.each do |art| %>
	<%= link_to image_tag(art.public_filename(:small)),
					:controller => "pages", :action => "profile", 
					:id => art.member.id %>
	<% end %>
	</div>