<h1><%= link_to "Directory", :controller => :pages, 
								   :action => :member_directory %></h1>
<!-- generate random member artwork thumbnails -->
<%= render :partial => 'member_thumbs', :collection => @member %>		


	<!-- news and articles -->
	<div id="homeInfo">
	</div>
