<p>We are looking for a website sponsor. You or your organisation would advertise products or services that would benifit our members. Sponsorship is sought for 3 month periods and would be alternated with our other partners. Please email expressions of interest to 
		<%= mail_to("support@hunterartsnetwork.org", "Support") %>
	</p>