<h1>Want to join?</h1>
	<p><b>For new memberships</b>, please download the<br /> 
		<a href="documents/HAN-membership-form.pdf">
			membership application form</a> and post.</p>
			
	<p><b>For liability insurance</b>, please download the <br />
		<a href="documents/QBE-HAN-liability-application.pdf">
		liability insurance form</a> and post.</p>
	
	<p>	For further information please email:
		<%= mail_to("president@hunterartsnetwork.org", "President") %>
	</p>
	
	<p>	To have your exhibition listed, please email:
		<%= mail_to("president@hunterartsnetwork.org", "President") %>
	</p>
		
	<p> <b>Please post all correspondence to:</b>
   		<br />Hunter Arts Network Inc. 
   		<br />P.O. Box 567, Newcastle NSW 2300</p>