	<h1>Get updated</h1>

	<div id="subscriber">
	<p>Subscribe to the Hunter Arts Network general newsletter 
		for news, events and updates.</p>

	<form action="http://engineactive.createsend.com/t/1/s/hkkik/" method="post">
  
  		<p><label for="mb-name">Name </label>
  		<input type="text" name="mb-name" id="mb-name" /></p>
  
  		<p><label for="mb-hkkik-hkkik">Email </label>
  		<input type="text" name="mb-hkkik-hkkik" id="mb-hkkik-hkkik" /></p>
  
  		<p class="submit">
			<input type="submit" value="Subscribe" />
		</p>
	</div>
	</form>
			<a href="http://www.engineactive.com/ignitionMail/index.html">
		Sponsored by IgnitionMail</a>
