	<div id="archive">
	<p class="">
	<% @articles.each do |article| %>
	<%= article.title.capitalize %> |
	<%= article.category %> |
	<%= article.created_at.strftime("%a %d %b %y") %>
	<%= link_to "view", :controller => "pages", 
						:action => "article", :id => article %><br />
	<% end %>
	</div>