	
	<div id="homeAlertTwo">
		<h2>Darby Street Coffee Festival stalls $100 for HAN members</h2>
			<p><b>THIS WEEK ONLY</b>
Darby St Coffee Festival stalls $100 for HAN members and you can share with one or two likeminded souls. Public liability can be arranged quickly and easily through HAN – it’s that easy.
<b>All you have to do is contact Stacey Anderson on 044 744 1259 or at <%= mail_to("darbystfestival@gmail.com") %></b></p>
	</div>
