	<h1>New event</h1>
	
	<% form_tag :controller => "member/event",
				:action => 'create', :id => @event do %>
	<!-- form -->
	<%= render :partial => 'member/event/form' %>

	<div id="section">
		<div id="submit"><%= submit_tag "Submit" %></div>
	</div>
	<% end %>
