	
	<h1>Upload artwork image</h1>
	<%= error_messages_for :artwork %>
	<div id="section">
		<div id="hint"><b>HINT</b>
		You can always delete unwanted or outdated images.<br />
		<span class="hintAlert">IMAGE MUST BE LESS THAN 500kb IN FILE SIZE!</span>
		</div>
    
		<% form_for (:artwork, :url => "create",
					 :html => { :multipart => true }) do |f| %>
			<p class="generalForm">					
			<%= f.file_field :uploaded_data %> </p>
		<div id="submit"><%= submit_tag 'Upload' %></div>
		<% end %>
	</div>