
<!-- this code is the switch for what is displayed 
	on both top and footer navigation -->
	

	<% if @active && @active.role == 'admin' %>
	<%= render :partial => 'navigation/admin_navi' %> 

	<% elsif @active && @active.role == 'member' %>
	<%= render :partial => 'navigation/member_navi' %>

	<% else %>
		
	<%= link_to '<b class="login">Members login here!</b>',
		:controller => :sessions, :action => :login %> | 
	<%= link_to 'Home',  :controller => :home %>
	
	<% end %>



